:root {
  --background-primary: #2a2828;
  --text-primary: #049ea2;
  --border-primary: #1486e3;
  --border-secondary: #10e4e8;
}

body {
	background-image: URL("../images/background.jpg");	
	width: 100%;
	height: 100%;
	background-position: center;
	background-attachment: fixed;	
	background-size: contain;	
}

/* Navbar Customs*/
.dropdown {
	padding-top: 1px;
}

.navbtn {
	color: #007bff;
}

.navdrop {
	color: var(--text-primary);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #343a40;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*My Intro Section*/
.introContainer {
	color: var(--text-primary);
	text-shadow: 1px 1px 1px rgba(0, 10, 30, 1);
}

.introContainer p {
	font-size: 0.9rem;
}

.myIntro {
	transition: 0.5s;
	background: radial-gradient(circle,rgba(59, 57, 57, 0.8) 10%, rgba(89, 86, 86, 0.8) 85%, rgba(33, 32, 32, 0.8) 100%);
	max-width: 850px;
	min-width: 620px;
	border: var(--border-primary) 2px solid;
	border-radius: 5px;
	}
	
.myIntro:hover,
.myIntro:focus {
	transform: scale(1.1);
	background: radial-gradient(circle,rgba(59, 57, 57, 1) 10%, rgba(89, 86, 86, 1) 85%, rgba(33, 32, 32, 1) 100%);
	border: var(--border-secondary) 2px solid;
}
	

.myImage {
	background-image: URL("../images/myImage.png");
	background-position: center;	
	background-repeat: no-repeat;
	background-size: 139px 139px;
	min-width: 140px;
	min-height: 140px;	
}

/*My Resume Section*/

.resume {
	max-width: 600px;	
	border-radius: 20px;
}

/*Information about me Section*/
.btnInfo {
	background: var(--background-primary);	
	color: var(--text-primary);
}

.btn:hover {
	cursor: pointer;
}

.infoText {
	transition: 0.5s;
	background: rgba(20, 20, 20, 0.8);
	min-height: 240px;
}

/*My Previews Section*/
.card {
	border: none;
}

.card:hover {
	cursor: pointer;	
}

#school {
	background-image: URL("../images/book.png");
	background-position: bottom;	
	background-repeat: no-repeat;
	background-size: 150px 150px;
	min-width: 150px;
	min-height: 150px;	
}

.schoolCard:hover,
.schoolCard:focus {
	box-shadow: 0 0 2px 4px var(--border-secondary);
}

#business {
	background-image: URL("../images/money.png");
	background-position: bottom;	
	background-repeat: no-repeat;
	background-size: 150px 150px;
	min-width: 150px;
	min-height: 150px;
}

.businessCard:hover,
.businessCard:focus {
	box-shadow: 0 0 2px 4px var(--border-secondary);
}

#gaming {
	background-image: URL("../images/controller.png");
	background-position: bottom;	
	background-repeat: no-repeat;
	background-size: 150px 150px;
	min-width: 150px;
	min-height: 150px;
}

.gamingCard:hover,
.gamingCard:focus {
	box-shadow: 0 0 2px 4px var(--border-secondary);
}

/*My Projects Section*/